@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

body {
	background-color: #353b48;
	padding: 0;
	color: #2c3e50;
}

h1,
h2,
h3,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

#main-container {
	background-color: white;
	width: 100%;
	height: 100%;
}

/* Navigation section */

.nav-container {
	width: 90%;
	height: 100px;
	margin: auto;
	position: relative;
}

.logo-container {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 25px;
	left: 0px;
	width: 20px;
	height: 20px;
	padding: 15px;
}

.logo-border {
	position: absolute;
	top: 20px;
	left: 0px;
	width: 20px;
	height: 20px;
	padding: 15px;
	border: 4px solid #2c3e50;
	z-index: 3;
	transition: all 0.7s ease;
}

.logo-border:hover {
	transform: rotate(90deg);
	cursor: pointer;
}

.initials {
	position: absolute;
	top: 40px;
	left: 17px;
}

.nav-links-container {
	position: absolute;
	right: 0px;
	top: 35px;
}

.home-link {
	margin-right: 20px;
}

.nav-links {
	font-size: 20px;
	padding-bottom: 3px;
	cursor: pointer;
	color: #2c3e50;
	text-decoration: none;
}

.nav-links:hover {
	border-bottom: 2px solid #fbc531;
}

/* Intro text and where developer lives */

.intro-text-container {
	width: 90%;
	height: 100px;
	margin: auto;
	margin-top: 50px;
}

.text-container {
	width: 65%;
	margin: auto;
	text-align: center;
}

.text-container p {
	font-size: 30px;
}

/* The 3D wheel effect styles is in the 3Deffect.css file */

/* About me section */

.about-container {
	width: 65%;
	margin: auto;
	margin-top: 75px;
}

.heading {
	font-family: 'Montserrat', sans-serif;
}

.sub-heading {
	color: #fbc531;
	margin-bottom: 10px;
	font-size: 13px;
	font-family: 'Montserrat', sans-serif;
}

.sub-heading-margin {
	margin-top: 15px;
}

.paragraph {
	font-size: 17px;
	margin-top: 30px;
	line-height: 30px;
}

/* Contact me section */

.contact-me-container {
	width: 100%;
	height: 275px;
	text-align: center;
	margin-top: 50px;
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
}

.contact-me-container h1 {
	margin-top: 75px;
}

.contact-me {
	margin-top: 40px;
	padding: 17px 70px;
	background-color: white;
	border: 1px solid #fbc531;
	border-radius: 7px;
	font-size: 15px;
	font-style: italic;
	cursor: pointer;
	transition: all 0.3s ease;
	outline: none;
}

.contact-me:hover {
	font-size: 16px;
	padding: 20px 75px;
}

/* Footer */

footer {
	width: 100%;
	height: 175px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* This is the project's page styles */

.intro-projects-container {
	width: 100%;
	padding-top: 50px;
	height: 150px;
	border-bottom: 1px solid lightgray;
}

.intro-projects {
	text-align: center;
}

/* Project card sections */

.project-container {
	width: 60%;
	height: 100%;
	margin: auto;
	margin-top: 50px;
}

.latest-project {
	font-family: 'Montserrat', sans-serif;
}

.card {
	position: relative;
	width: 100%;
	height: 250px;
	margin-top: 45px;
	background-color: lightgray;
	cursor: pointer;
	transition: 0.4s ease;
}

.card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card-link-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transition: 0.2s ease;
}

.project-btn {
	padding: 17px 70px;
	border: 1px solid #fbc531;
	border-radius: 7px;
	font-size: 15px;
	font-style: italic;
	color: white;
	visibility: hidden;
	transition: 0.2s ease;
}

.card:hover .card-link-container {
	background-color: #353b48;
	opacity: 0.8;
}

.card:hover .project-btn {
	visibility: visible;
}

.project-btn:hover {
	font-size: 16px;
	padding: 20px 75px;
}

.project-discription {
	margin-top: 20px;
	color: #fbc531;
}

.project-name {
	margin-top: 20px;
	font-family: 'Montserrat', sans-serif;
}

.spacer {
	margin-top: 75px;
	border-bottom: 1px solid lightgray;
}

@media only screen and (max-width: 700px) {
	/* Home page */

	body {
		margin: 0;
	}

	/* Intro text and where developer lives */
	.intro-text-container {
		width: 98%;
	}

	.text-container {
		width: 100%;
	}

	/* About me section */
	.about-container {
		width: 98%;
		margin: auto;
		margin-top: 75px;
	}

	/* Project page */
	.intro-projects-container {
		width: 100%;
		padding-top: 10px;
		height: 150px;
		border-bottom: 1px solid lightgray;
	}

	/* Project cards */
	.project-container {
		width: 90%;
	}

	.card {
		height: 200px;
	}

	.card-link-container {
		background-color: #353b48;
		opacity: 0.8;
	}

	.project-btn {
		visibility: visible;
	}

	.spacer {
		margin-top: 45px;
	}
}
